section {
    padding: 20px;
    text-align: center;
  }
  
  form {
    display: inline-block;
    text-align: left;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form input[type="checkbox"] {
    margin-top: 15px;
  }
  
  form button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
  }  